@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}

@layer base {
  button {
    @apply cursor-pointer 
      text-stone-950 dark:text-stone-50;
  }

  #root {
    @apply w-full;

    /* Typography */
    @apply text-stone-950 dark:text-stone-50;

    /* Background */
    @apply bg-stone-100 dark:bg-stone-900;
  }

  input::placeholder {
    @apply text-stone-950/50;
  }

  .dark input::placeholder {
    @apply text-stone-50/50;
  }
}
